.container {
  position: relative;
  box-sizing: border-box;
  cursor: none;
}

.glass-container {
  // position: absolute;
  left: 0;
  top: 0;
}
.glass {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid black;
  box-sizing: border-box;
  pointer-events: none;
  display: none;
  z-index: 1;
}