.picker-container {
  position: relative;
  box-sizing: border-box;
  margin-left: 50px;
  cursor: none;
}

.glass {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid black;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 1;
  cursor: none;
}